body{
    background-image: url(/image/State_Normal_School_Building.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid black;
}
.Restart{
    float: right;
    margin: -20px;
    margin-right: 10px;
}

.Restartbutton{
    background-color: black;
    float: right;
}

.Nextpage1{
    text-align: center;
    margin: 70px;
}
.NextPagebutton1{
    width: 800px;
    height: 200px;
   background-color: black; 
}
.NextPagebutton{
    background-color: black;
}
.Returnbutton{
    background-color: black;
}

.Nextpage {
    text-align: right;
    float: right;
    margin: -20px;
    margin-right: 10px;
}

.Return{
    text-align: left;
}
.spade{
    text-align: center;
    max-width: 400px;
    margin-left: 726px;
    margin-top: 70px;
    margin-bottom: 100px;

}
.intro{
    
    text-align: center;
    font-size: 25px;
    color: rgb(199, 182, 87);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
}

a:visited{
    color: white;
}

a:hover{
color: gold
}
.Begintext{
    font-size: 35px;
}
h1{
    text-align: center;
    color: rgb(199, 182, 87);
}
.story1{
    font-size: 23px;
    text-align: center;
    color: rgb(199, 182, 87);
    background: rgba(0,0,0,0.5);
}
.story2{
    font-size: 22px;
    text-align: center;
    color: rgb(199, 182, 87);
    background: rgba(0,0,0,0.5);
}

.story3{
    font-size: 22px;
    text-align: center;
    color: rgb(199, 182, 87);
    background: rgba(0,0,0,0.5);
}
.end{
    font-size: 22px;
    text-align: center;
    color: rgb(199, 182, 87);
    background: rgba(0,0,0,0.5);
}